<div class="hero hero-content hero-overlay flex-col m-auto mt-4">
  <div class="font-bold">Preterito Perfeito Composto</div>

  <div class="mb-4">eu tinha falado / tu tinhas falado / voce tinha falado</div>

  <div class="font-bold">Preterito Imperfeito</div>

  <div class="mb-4">eu tinha / voce tinha</div>

  <div class="font-bold">Futuro de Presente Composto</div>

  <div class="mb-4">
    Amanha ele tera hiptecado a casa que tanto sonhava Na empresa havera/tera
    mudancas, mas pequenas
  </div>

  <div class="font-bold">Adverbios de afirmacao, negacao e duvida</div>
  <div class="mb-4">
    Alteram tanto un verbo, um adjetvio o u ate mesmo um outro adverbio
  </div>
  <div><span class="font-bold">Afirmacao:</span> sim, positivamente, realmente, efetivamente, certamente</div>
  <div>Eu entendo perfeitamente o que voce quer dizer</div>
  <div>Eu me importo sim com voce (Me importa de verdad)</div>
  <div>Realmente, este disco e bem caro</div>
  <div><span class="font-bold">Negacao:</span> nem, nunca, jamais, tampouco</div>
  
</div>
