---
import BaseLayout from '../../../../layouts/BaseLayout.astro'
import { GradientTitle } from '../../../../components/gradientTitle'
---

<BaseLayout title="Triquinosis">
  <div class="container mx-auto">
    <div class="min-h-screen p-8">
      <GradientTitle withColor={'Triquinosis: '} withoutColor={'Resumen'} />
      <h1 class="font-bold text-xl mt-8 mb-4">Introducción</h1>
      <div>
        Los parasitos que afectan al ser humano pueden ser protozarios,
        helmintos o ectoparasitos.
      </div>
      <div>
        La triquinosis o triquinelosis es una enfermedad parasitaria causada por
        un helminto nematodo. Recordemos que los helminos se dividen en planos o
        cilindricos.
      </div>
      <div>
        Es una enfermedad endémica en la Argentina que se transmite por el
        consumo de alimentos contaminados.
      </div>
      <div>En la Argentina ocurren entre 300 y 1200 casos por año.</div>
      <div>
        Se transmite por consumo de carne o derivados carnicos crudos o mal
        cocidos que contienen en su interior larvas infectivas de Trichinella
      </div>
      <h1 class="font-bold text-xl mt-8 mb-4">Importancia de su diagnostico</h1>
      <div>
        Al ser una enfermedad que se presenta en forma de brotes que se
        transmite por alimentos, realizando un diagnostico precoz se pueden
        evitar nuevos casos.
      </div>
      <div>
        Las autoridades pueden impedir que se continuen fabricando,
        distribuyendo y vendiendo productos contaminados.
      </div>
      <div>
        Un medico puede hacer profilaxis secundaria ante un paciente que
        asintomatico que tuvo un consumo reciente de un producto contaminado.
      </div>
      <h1 class="font-bold text-xl mt-8 mb-4">Celula Nodriza</h1>
      <div>
        Consiste en una celula muscular estriada modificada por el parasito, el
        cual esta en su interior, rodeada por una capsula fibrosa.
      </div>
      <div>Son larvas enquistadas.</div>
      <h1 class="font-bold text-xl mt-8 mb-4">Microbiologia</h1>
      <div>
        Es un parasito blanquecino, filiforme, de extremidad anterior delgada.
      </div>
      <div>Tiene 2 sexos: macho y hembra.</div>
      <div>
        Existen 13 genotipos. 10 reconocidos como especies. 3 esperan una
        definición taxonómica.
      </div>
      <div>
        Se diferencian por su capacidad de infectar al ser humano, sus
        reservorios, su patogenicidad y su resistencia al frio.
      </div>
      <div>
        En Argentina se han detectado T. spiralis, T. pseudospiralis, T. britovi
        y T. patagoniensis
      </div>
      <h1 class="font-bold text-xl mt-8 mb-4">Genotipos / Especies:</h1>
      <ul class="list-disc list-inside">
        <li>
          <span class="font-bold">T. spiralis:</span> Cosmopolita. Baja resistencia
          al congelamiento. Alta infectividad en cerdo, jabalí, roedor y hombre.
        </li>
        <li>
          <span class="font-bold">T. nativa:</span> Ártica - subártica. Alta resistencia
          al congelamiento. Baja infectividad para cerdos y ratas. Afecta a osos
          y focas.
        </li>
        <li>
          <span class="font-bold">T. britovi:</span> Paleártico templado. Poco resistente
          al congelamiento. Con baja infectividad en rata y moderada en cerdo y en
          el hombre.
        </li>
        <li>
          <span class="font-bold">T. nelsoni:</span> De áreas cálidas. Con muy baja
          resistencia al congelamiento y tolerante al calor. Moderada infectividad
          para el hombre pero baja para roedor, cerdo y jabalí.
        </li>
        <li>
          <span class="font-bold">T. murreli:</span> Neoártico templado. Baja resistencia
          al congelamiento. Baja infectividad y capacidad reproductiva en cerdo y
          rata.
        </li>
        <li>
          <span class="font-bold">T. pseudoespiralis:</span> Cosmopolita. No encapsulada.
          Con moderada infectividad en cerdo. Infectiva para aves carnívoras y carroñeras.
        </li>
        <li>
          <span class="font-bold">T. papuae:</span> Aislada de un jabalí en Papua
          Nueva Guinea y en reptiles. No encapsulada. La larva muscular es 1/3 más
          larga que la correspondiente a T. pseudoespiralis.
        </li>
        <li>
          <span class="font-bold">T. zimbabwensis:</span> Detectada en un cocodrilo
          en Zimbabwe y en cerdos salvajes. No encapsulada. Sin resistencia a la
          congelación. Experimentalmente infecta ratas, ratones, cerdos, tortugas,
          pitones, varanos y caimanes.
        </li>
        <li>
          <span class="font-bold">T6:</span> Aislado de carnívoros salvajes del Neoártico
          templado. Su genotipo es similar al de T. nativa, pero con menor resistencia
          al congelamiento.
        </li>
        <li>
          <span class="font-bold">T8:</span> Detectado solo tres veces en carnívoros
          salvajes de Sudáfrica y Namibia. Estrechamente relacionado a T. britovi,
          pero sin resistencia al congelamiento.
        </li>
        <li>
          <span class="font-bold">T9:</span> Aislado de animales salvajes de Japón.
          Su genotipo está íntimamente relacionado al de T. murelli.
        </li>
      </ul>
      <h1 class="font-bold text-xl mt-8 mb-4">Faenado Casero:</h1>
      <div>
        Es obligatorio enviar muestras para su analisis de diafragma (entraña) y
        de musculos de la cara como base de lengua y maseteros, no congelados,
        antes del consumo casero de la carne faenada.
      </div>
      <div>
        Los embutidos, chacinados y salazones procedentes de faena casera no
        deben ser destinados a la venta.
      </div>
      <div>Se realizan pruebas de digestion enzimatica o artificial.</div>
    </div>
  </div>
</BaseLayout>
