---
import { Game } from '../../../components/tortutetris/game'
import { Keyboard } from '../../../components/tortutetris/keyboard'
import BaseLayout from '../../../layouts/BaseLayout.astro'
import Hero from '../../../components/home/hero-tortutetris.astro'
---

<BaseLayout>
  <!-- <Hero /> -->
  <div class="flex flex-col lg:flex-row items-center gap-4 p-4">
    <Game client:only />
    <div class="divider"></div>
    <div class="flex flex-col">
      <Keyboard />
    </div>
  </div>
</BaseLayout>