---
import { Tablero } from '../../../components/tortutetris/tablero'
import { Teclado } from '../../../components/tortutetris/teclado'
import BaseLayout from '../../../layouts/BaseLayout.astro'
import Hero from '../../../components/home/hero-tortutetris.astro'
---

<BaseLayout>
  <!-- <Hero /> -->
  <div class="flex flex-col lg:flex-row items-center gap-4 p-4">
    <Tablero client:only />
    <div class="divider"></div>
    <div class="flex flex-col">
      <Teclado />
    </div>
  </div>
</BaseLayout>
