---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { GradientTitle } from '../../components/gradientTitle'
import Proyecto from '../../components/proyecto.astro'
import { SocialLogo } from '../../components/socialLogo.jsx'
---

<BaseLayout title="Curriculum">
  <div class="hero items-start min-h-screen">
    <div class="hero-content">
      <div class="max-w-2xl">
        <GradientTitle client:only withColor={'C.Vitae'} withoutColor={''} />
        <div class="divider"></div>
        <h1 class="text-2xl mt-4 mb-4 font-bold">Diego Nicita</h1>
        <div>
          Me dedico al desarrollo <span class="font-bold"
            >Frontend y Mobile</span
          > con <span class="font-bold">React y React Native.</span>
        </div>
        Tambien utilizo Nodejs, Express, MySQL. MongoDb y C# con Unity.
        <div class="mt-4">
          <span class="font-bold">Estudios:</span><ul>
            <li>Digital House (Programador Fullstack MERN)</li><li>
              Alkemy (Programador React)
            </li><li>
              Universidad Tecnologica Nacional (C#, Desarrollo de Videojuegos con
              Unity)
            </li>
            <li>Autodidacta</li>
          </ul>
        </div>
        <div class="mt-4">
          Para más informacion te dejo enlaces a Github y Linkedin.
        </div>
        <div class="flex flex-row">
          <SocialLogo title="Github" client:only />
          <SocialLogo title="Linkedin" client:only />
        </div>
        <div class="divider"></div>
        <h1 class="text-2xl mt-4 mb-4 font-bold">Proyectos</h1>
        <Proyecto
          title="Webapp"
          description="Sitio web personal alojado en un Vultr donde instale Ubuntu, Ngnix, Node y MySQL. Estoy migrando el Frontend de mis proyectos a Astro. Los antiguos proyectos se transformaran en backends con NodeJs."
          tools="Astro. React. Tailwind. DaisyUI. Tensorflow"
          link="https://webapp.ar"
        />
        <Proyecto
          title="Solocalzados"
          description="Ecommerce sobre una tienda de calzados"
          tools="HTML. CSS. NodeJS. Express. MYSQL"
          link="https://solocalzado.webapp.ar"
        />
        <Proyecto
          title="Mercado"
          description="Ecommerce sobre una tienda online similar a Mercadolibre o Amazon"
          tools="HTML. CSS. NodeJS. Express. MYSQL"
          link="https://mercado.webapp.ar"
        />

        <Proyecto
          title="Futbol (ex Infootball)"
          description="Proyecto sobre Scouting de Jugadores de Futbol"
          tools="React Native. Expo. RN Elements. Axios. Async Storage."
          link="https://futbol.webapp.ar"
        />

        <Proyecto
          title="Smart Shop"
          description="Proyecto sobre Escaneo de Codigos QR de un Ecommerce para evitar las filas al pagar"
          tools="React Native. Expo. Tailwind. Axios. Async Storage."
        />
      </div>
    </div>
  </div>
</BaseLayout>
