---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Title from '../../components/title.astro'
import Button from '../../components/button.astro'
import { GradientTitle } from '../../components/gradientTitle'
---

<BaseLayout title="Curriculum">
  <div class="hero items-start min-h-screen">
    <div class="hero-content">
      <div class="max-w-lg">
        <GradientTitle withColor={'Curriculum Vitae'} withoutColor={''} />       
        <h1 class="text-lg mb-4">
          Mi nombre es Diego Nicita, soy un medico y programador.
        </h1>
        <div>Uso el stack MERN, react native y C# con Unity.</div>
        <h1 class="text-lg mt-4 mb-4">Proyectos</h1>
        <div>Webapp</div>
        <div>(Freelance, Astro/Reactjs/Tailwind/DaisyUI)</div>
        <div>Solocalzados</div>
        <div>(HTML/Node/Express/MYSQL, en equipo en Digital House)</div>
        <div>Mercado</div>
        <div>(HTML/Node/Express/MYSQL, en equipo en Digital House)</div>
        <div>Alcance WebApp </div>
        <div>Cinema, React Native Android App</div>
        <div>Cafe Store WebApp</div>
        <div>Cafe Store WebApp</div>
        <div>Infootball</div>
        <div>(Freelance, React Native)</div>
        <div>Singer (Freelance, Astro/Reactjs)</div>
        <div>(Freelance, Astro/Reactjs)</div>
      </div>
    </div>
  </div>
</BaseLayout>
