---
import BaseLayout from '../layouts/BaseLayout.astro'
import Title from '../components/title.astro'
import Button from '../components/button.astro'
import { GradientTitle } from '../components/gradientTitle'
---

<BaseLayout title="Webapp">
  <div class="hero items-start min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <GradientTitle client:only withColor={'Bienvenido'} withoutColor={''} />
        <div>
          Mi nombre es Diego Nicita, soy medico y programador. Aqui podras
          encontrar cosas utiles para ambas profesiones.
        </div>
        <Button add="btn-primary" to="curriculum">Mi Curriculum</Button>
        <Title>Curso de Portugues Urgente</Title> 
        <Button to="portugues/week1">Semana 1</Button>  
        <Button to="portugues/week2">Semana 2</Button>       
        <Title>Componentes y Ejemplos para tu sitio web</Title>
        <Button to="examples/login">Login</Button>
        <Button to="examples/register">Register</Button>
        <Button to="examples/grid">Grid</Button>
        <Title>Mis Pruebas con Tensorflow.js</Title>
        <Button to="tensorflow/toxicity">
          Toxicity Classifier (Tensorflow.js)
        </Button>
        <Title>Calculadora y Clases de Medicina</Title>
        <Button to="medicine/calcs/clearence">Clearence de Creatinina</Button>
        <Button to="medicine/diseases/triquinosis">Triquinosis</Button>
      </div>
    </div>
  </div>
</BaseLayout>
