---
import BaseLayout from '../layouts/BaseLayout.astro'
import Title from '../components/title.astro'
import Button from '../components/button.astro'
import { GradientTitle } from '../components/gradientTitle'
import Hero from '../components/hero.astro'
import HeroGrid from '../components/heroGrid.astro'
import HeroGridUnit from '../components/heroGridUnit.astro'
---

<BaseLayout title="Webapp">
  <Hero />
  <!-- <HeroGrid /> -->

  <div class="hero items-start">
    <div class="hero-content text-start">
      <div>
        <div class="mt-16 md:mt-0">
          <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
            Mis trabajos y proyectos
          </h2>
          <p class="text-lg mt-4 text-slate-500">
            Aqui puedes encontrar diferentes cosas relacionadas con la
            programacion web y/o la medicina en los que estoy trabajando
          </p>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
          <HeroGridUnit
            title="Sobre Mi"
            description="Aqui puedes encontrar diferentes cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando."
          >
            <Button to="curriculum">Curriculum Vitae</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Curso de Portugues"
            description="Aqui puedes encontrar diferentes cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando."
          >
            <Button to="portugues/week1">Semana 1</Button>
            <Button to="portugues/week2">Semana 2</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Componentes y Ejemplos"
            description="Aqui puedes encontrar diferentes cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando."
          >
            <Button to="examples/login">Login</Button>
            <Button to="examples/register">Register</Button>
            <Button to="examples/grid">Grid</Button>
            <Button to="mercado">Mercado App</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Tensorflow.js"
            description="Aqui puedes encontrar diferentes cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando."
          >
            <Button to="tensorflow/toxicity">Toxicity Classifier</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Calculadora"
            description="Aqui puedes encontrar diferentes cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando."
          >
            <Button to="medicine/calcs/clearence">
              Clearence de Creatinina
            </Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Clases"
            description="Aqui puedes encontrar diferentes cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando."
          >
            <Button to="medicine/diseases/triquinosis">Triquinosis</Button>
            <Button to="javascript/arrays">Arrays</Button>
          </HeroGridUnit>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
