---
import BaseLayout from '../layouts/BaseLayout.astro'
import Title from '../components/title.astro'
import Button from '../components/button.astro'
import { GradientTitle } from '../components/gradientTitle'
import Hero from '../components/home/hero.astro'
import HeroGrid from '../components/heroGrid.astro'
import HeroGridUnit from '../components/heroGridUnit.astro'
---

<BaseLayout title="Webapp">
  <Hero />

  <div class="hero items-start">
    <div class="hero-content text-start">
      <div>
        <div class="mt-16 md:mt-0"></div>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          Contenido
        </h2>
        <p class="text-lg mt-4 text-slate-500 text-balance max-w-xl">
          Navega por las diferentes secciones
        </p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-16">
          <HeroGridUnit title="Sobre Mi" description="Mi curriculum vitae">
            <Button to="curriculum">Curriculum Vitae</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Curso de Portugues"
            description="Resumenes y ejercicios sobre el idioma portugues"
          >
            <Button to="portugues/week1">Semana 1</Button>
            <Button to="portugues/week2">Semana 2</Button>
            <Button to="portugues/week3">Semana 3</Button>
            <Button to="portugues/week4">Semana 4</Button>
            <Button to="portugues/week5">Semana 5</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Componentes y Ejemplos"
            description="Cosas relacionadas con la programacion web y/o la medicina en los que estoy trabajando"
          >
            <Button to="examples/login">Login</Button>
            <Button to="examples/register">Register</Button>
            <Button to="examples/grid">Grid</Button>
            <Button to="mercado">Mercado App</Button>
            <Button to="singer">Hero Singer</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Tensorflow.js"
            description="Cosas relacionadas con la programacion web y Tensorflow"
          >
            <Button to="tensorflow/toxicity">Toxicity Classifier</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Calculadora"
            description="Diferentes calculadoras muy útiles en medicina"
          >
            <Button to="medicine/calcs/clearence">
              Clearence de Creatinina
            </Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Clases"
            description="Clases de programacion web y medicina en las que participé"
          >
            <Button to="medicine/diseases/triquinosis">Triquinosis</Button>
            <Button to="javascript/arrays">Arrays</Button>
          </HeroGridUnit>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
