---
import BaseLayout from '../layouts/BaseLayout.astro'
import Title from '../components/title.astro'
import Button from '../components/button.astro'
---

<BaseLayout title="Webapp.ar">
  <div class="hero items-start min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <Title add="mt-0 mb-4 text-2xl">Bienvenido a mi sitio web</Title>
        <h1 class="text-sm mb-0">
          Mi nombre es Diego Nicita, soy un medico y programador. Aqui podras
          encontrar cosas utiles para ambas profesiones.
        </h1>
        <Button add="btn-primary" to="toxicity">Mi Curriculum</Button>
        <Title>Componentes</Title>
        <Button to="login">Login</Button>
        <Button to="register">Register</Button>
        <Title>Tensorflow.js</Title>
        <Button to="toxicity">Toxicity Classifier (Tensorflow.js)</Button>
        <Title>Medicina</Title>
        <Button to="clearence">Clearence de Creatinina</Button>
        <Button to="medicine/triquinosis">Triquinosis</Button>
      </div>
    </div>
  </div>
</BaseLayout>
