---
---

<!DOCTYPE html>
<html>
	<head>
		<title> IA Test </title>
	</head>
  <body>
    <h1>IA Tests</h1>
	<p>Disculpa, mi sitio anterior no esta disponible. </p>
	<p>Motivo: estoy haciendo unas pruebas con tensorflow.js usando esta url </p>
	<p>Seguramente en unos dias voy a volver a hacer un deploy de webapp.ar. </p>
	<p>Saludos.</p>	
	<h2> Tests disponibles </h2>
    <a href="toxicity"> Toxicity Classifier</a>
  </body>
</html>
