---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Webapp.ar">  
    <div class="hero items-start min-h-screen pt-8">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-3xl mb-1">
            Bienvenido
          </h1>
          <p class="mb-8 text-md">Estamos restructurando el sitio</p>
          <h1 class="text-2xl mb-4">Contenido disponible:</h1>
          <a class="btn btn-accent btn-sm" href="toxicity">
            Toxicity Classifier (Tensorflow.js)</a
          >
          <a class="btn btn-accent btn-sm mt-2" href="clearence">
            Clearence de Creatinina</a
          >
          <a class="btn btn-accent btn-sm mt-2" href="login">
            Login</a
          >
          <a class="btn btn-accent btn-sm mt-2" href="register">
            Register </a
          >          
        </div>
      </div>   
  </div>
</BaseLayout>
