---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="IA">  
    <div class="hero items-start min-h-screen pt-8">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-3xl text-primary mb-1">
            Bienvenido
          </h1>
          <p class="mb-8 text-md">Estamos restructurando el sitio</p>
          <h1 class="text-2xl text-primary mb-4">Contenido disponible:</h1>
          <a class="btn btn-neutral btn-sm" href="toxicity">
            Toxicity Classifier (Tensorflow.js)</a
          >
          <a class="btn btn-neutral btn-sm mt-2" href="clearence">
            Clearence de Creatinina</a
          >
        </div>
      </div>   
  </div>
</BaseLayout>
