<li>
  <details>
    <summary>Idiomas</summary>
    <ul class="p-2">
      <li><button class="theme" name="dark">Español</button></li>
      <li><button class="theme" name="light">Portugues</button></li>
      <li><button class="theme" name="cupcake">Ingles</button></li>
    </ul>
  </details>
</li>
