<style>
  .enfoco:focus,
  .enfoco:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px; /* Ajusta este valor según tu preferencia */
    text-decoration-skip-ink: none;
  }
</style>
<div class="dropdown dropdown-end dropdown-hover">
  <label
    tabindex="0"
    class="enfoco btn btn-link decoration-transparent btn-group-horizontal"
  >
    Idiomas</label
  >
  <ul
    tabindex="0"
    class="menu menu-sm dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-auto items-end m-0 p-0"
  >
    <li><button class="theme" name="dark">Español</button></li>
    <li><button class="theme" name="light">Portugues</button></li>
    <li><button class="theme" name="cupcake">Ingles</button></li>
  </ul>
</div>
