<li>
  <details>
    <summary>Themes</summary>
    <ul class="p-2">
      <li><button class="theme" name="dark">Oscuro</button></li>
      <li><button class="theme" name="light">Claro</button></li>
      <li><button class="theme" name="cupcake">Cupcake</button></li>
      <li><button class="theme" name="cyberpunk">Cyberpunk</button></li>
    </ul>    
  </details>
</li>
