---
import Themes from './horizontalThemes.astro'
import Languages from './horizontalLanguages.astro'
---
<div class="navbar-end hidden lg:flex pr-8">
  <div class="menu menu-horizontal gap-1">
    <Themes />
    <Languages />
  </div>
</div>
