---
import Horizontal from './horizontal.astro'
import Vertical from './vertical.astro'
const { link, logo, title } = Astro.props
---

<script>
  import {
    setListItemToLostFocusOnClick,
    setButtonGroupHorizontalLostFocusOnMouseOver,
  } from './js/focus.js'
  import { setThemeButtonsListeners } from './js/themes.js'
  import { setFontButtonsListeners } from './js/fonts.js'
  import { setLanguageButtonsListeners } from './js/language.js'
  setListItemToLostFocusOnClick()
  setButtonGroupHorizontalLostFocusOnMouseOver()
  setThemeButtonsListeners()
  setFontButtonsListeners()
  setLanguageButtonsListeners()
</script>

<div class="navbar bg-base-100">
  <Vertical title={title} link={link} logo={logo} />
  <Horizontal />
</div>
