<li>
  <a>Themes</a>
  <ul class="p-2">
    <li><button class="theme" name="dark">Oscuro</button></li>
    <li><button class="theme" name="light">Claro</button></li>
    <li><button class="theme" name="cupcake">Cupcake</button></li>
    <li><button class="theme" name="cyberpunk">Cyberpunk</button></li>
  </ul>
</li>
<!-- <li>
  <a>Idiomas</a>
  <ul class="p-2">
    <li><button class="theme" name="dark">Español</button></li>
    <li><button class="theme" name="light">Portugues</button></li>
    <li><button class="theme" name="cupcake">Ingles</button></li>
  </ul>
</li> -->
