<div class="card w-full lg:w-60 xl:w-72 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src="/logo.png" alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">Product</h2>
    <p>If a dog chews a product?</p>
    <div class="card-actions">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
