---
const { title, description, image, price } = Astro.props
---

<div class="card w-full lg:w-60 xl:w-72 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src={"https://mercado.webapp.ar/images/" + image} alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{title}</h2>
    <div>{description}</div>
    <div>${price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}</div>
    <div class="mt-4 card-actions">
      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
</div>
