---
const link1 = "window.location.href='/curriculum'"
const link2 =
  "window.location.href='https://github.com/diegonicita/astro-react-daisy-webapp'"
---

<div class="hero bg-base-400">
  <div class="hero-content flex-col-reverse xl:flex-row-reverse">
    <img src="/webapp/logo-grande.png" class="w-[0%] md:w-[50%]" />
    <div class="w-full">
      <h1 class="text-5xl font-bold" style="text-wrap: balance">Bienvenidos a Webapp, mi blog</h1>
      <h3 class="text-md text-slate-500" style="text-wrap: balance">
        Me dedico al desarrollo frontened, mobile y a la medicina. Aqui
        encontrarás diferentes artículos relacionados. Esta web fue creada con Astro,
        React, Tailwind y DaisyUI. Puedes personalizarlo cambiando el Theme y el Font en el menu superior. Si te interesa puedes clonarlo en Github.
      </h3>
      <button class="mt-6 btn btn-outline" onclick={link1}>
        Acerca de mi
      </button>
      <button class="mt-6 btn btn-primary" onclick={link2} target="_blank"> Github Repo</button>
    </div>
  </div>
</div>
