<div class="hero bg-base-400">
  <div class="hero-content flex-col-reverse xl:flex-row-reverse">
    <img src="logo-grande.png" class="w-[0%] md:w-[50%]" />
    <div class="w-full">
      <h1 class="text-6xl font-bold" style="text-wrap: balance">
        Bienvenido a mi sitio con Astro
      </h1>
      <p class="text-xl" style="text-wrap: balance">
        Mi sitio web esta pensado para startups, websites de marketing y landing
        pages. Creado con Astro.build, React, TailwindCSS y DaisyUI. Puedes usar
        este sitio web como una base para iniciar el tuyo.
      </p>
      <button
        class="mt-6 btn btn-outline"
        onclick="
        window.location.href = '/curriculum'">
        Acerca de mi
      </button>
      <button class="mt-6 btn btn-primary" onclick="window.location.href='https://github.com/diegonicita/astro-react-daisy-webapp'">
        Github Repo
      </button>
    </div>
  </div>
</div>