<div class="navbar bg-base-200">
  <div class="avatar">
    <div class="w-16 rounded ml-8">
      <img src="/logo.png" />
    </div>
  </div>
  <a href="/" class="btn btn-ghost normal-case text-xl">Webapp</a>
</div>
