<div class="navbar bg-base-100">
  <div class="avatar">
    <div class="w-16 rounded">
      <img src="logo.png" />
    </div>
  </div>
  <a href="/" class="btn btn-ghost normal-case text-xl text-primary">Webapp</a>
</div>
