---
const { title, description, tools } = Astro.props
---

<div>
    <span class="font-bold">{title}: </span>{description}
</div>
<div class="mt-2 mb-8">
    <span class="font-bold">Use: </span>{tools}
</div>
