---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { GradientTitle } from '../../../components/gradientTitle'
import { Form } from '../../../components/form.jsx'
---

<BaseLayout title="Clearence de Creatinina">
  <div>
    <div class="min-h-screen p-8">
      <GradientTitle
        client:only
        withColor={'Calculadora: '}
        withoutColor={'Cl. de Cr.'}
      />
      <Form client:load />
    </div>
  </div>
</BaseLayout>
