---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { GradientTitle } from '../../components/gradientTitle'
---

<BaseLayout title="Login">
  <div class="wrapper text-sm sm:px-12 sm:text-lg">
    <div class="one bg-base-200 p-2">1. Bienvenido</div>
    <div class="two bg-base-300 p-2">
      2. Mi nombre es Diego Nicita, soy medico y programador. Aqui podras
      encontrar cosas utiles para ambas profesiones.
    </div>
    <div class="three bg-base-300 p-2">
      3. Componentes y Ejemplos para tu sitio web.
    </div>
    <div class="four bg-primary p-2">4. Mis Pruebas con Tensorflow.</div>
    <div class="five bg-secondary p-2">
      5. Calculadora y Clases de Medicina.
    </div>
    <div class="six bg-neutral p-2">6. Proximamente.</div>
    <div class="seven bg-accent p-2">7. Proximamente.</div>
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  } 

  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }
  .seven {
    grid-column: 2;
    grid-row: 3;
  }
</style>
