---
import BlogLayout from '../../layouts/BlogLayout.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import EmptyLayout from '../../layouts/EmptyLayout.astro'
import { GradientTitle } from '../../components/gradientTitle'
import VetCareHeroe from '../../components/heroes/vetcare'
---

<EmptyLayout>
  <div class="px-8 lg:px-6 max-w-[90rem] mx-auto">
    <VetCareHeroe />
  </div>
</EmptyLayout>
