---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---
<BaseLayout title="Portugues">
    <div class="hero hero-content flex-col m-auto mt-4">
<div>Ela plantou uma flor</div>
  <div>A flor foi plantada por ela</div>
<div>Ele</div>
<div>A grama foi cortada por o rapaz</div>
<div>O homen ficou detido pelos policiais</div>
<div>O bufe preparou a comida</div>
<div>A comida vem preparada por bufe</div>
</div>
</BaseLayout>

