---
import '../global.css'
const { title, toxicity } = Astro.props
import Navbar from '../components/navbar/navbar.astro'
import Footer from '../components/footer.astro'
---

<html lang="en" class="bg-base-100" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {
      toxicity && (
        <>
          <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/2.7.0/tf.min.js"
          />
          <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/@tensorflow-models/toxicity@1.2.2"
          />
        </>
      )
    }
  </head>
  <body tabindex="0">
    <div>
      <Navbar />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<script is:inline>
if (localStorage.getItem('theme') === null) {
  document.documentElement.setAttribute('data-theme', 'light')
} else {
  document.documentElement.setAttribute(
    'data-theme',
    localStorage.getItem('theme'),
  )
}

const font = localStorage.getItem('fontAtom')
var bodyElement = document.body
while (bodyElement.classList.length > 0) {
  bodyElement.classList.remove(bodyElement.classList.item(0))
}
var stringWithoutQuotes = font.replace(/^"(.*)"$/, '$1')
bodyElement.classList.add(stringWithoutQuotes)
</script>
