---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { CardsJSX } from '../../../components/cards/choices/cardsJSX'
const linkURL = '/choices'
const logoURL = '/choices/logo.png'
---

<BaseLayout title="Choices App" link={linkURL} logo={logoURL}> 
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Examenes de Residencias Medicas
    </h2>
    <p class="text-lg mt-4 text-slate-500">Recuerda que puedes tomarte el tiempo que necesites.</p>
  </div> 
  <h1 class="font-bold mt-8">
    Examen Municipal de Buenos Aires
  </h1>
  <div class="grid">
    <CardsJSX client:only />
  </div>
  <div></div>
</BaseLayout>
